/* EXPANDER COMPONENT */

/* =========================
Setting up variables
============================ */

// Colors
$button-text: #fbfffe;
$button-background: #1b1b1e;
$button-background-active: #6d676e;
$text-color: #1b1b1e;
$border-color: #6d676e;
$important: #96031a;
$sign-color: #faa916;

// Fonts
$main-font: 'Roboto', sans-serif;
$heading-font: 'Kumbh Sans', sans-serif;

/* =========================
Document Styling
============================ */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font: 1em $main-font;
}

.container {
  margin: 2em;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $heading-font;
}

.important {
  font-weight: bold;
  color: $important;
}

/* =========================
Expander Styling
============================ */
.expander {
  margin: 0 1em;

  // Expander Button
  .expander-button {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    flex: 1 0 auto;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    margin: 0.3em 0;
    padding: 1em;
    border: none;
    outline: none;
    background-color: $button-background;
    font: bolder 1.2em $heading-font;
    color: $button-text;
    text-align: left;
  }
  .expander-button::after {
    content: '+';
    margin-left: 1em;
    font: bolder 1.5em $heading-font;
    color: $sign-color;
  }
  .expander-button-active::after {
    content: '-';
  }

  // Expander Text
  .expander-text {
    overflow: hidden;
    max-height: 0;
    margin: 1em 0;
    padding: 0 1.5em;
    -webkit-transition: max-height 0.2s, border-color 0.3s, padding 0.5s;
    -moz-transition: max-height 0.2s, border-color 0.3s, padding 0.5s;
    -o-transition: max-height 0.2s, border-color 0.3s, padding 0.5s;
    transition: max-height 0.2s, border-color 0.3s, padding 0.5s;
    border: 0.5px solid #fbfffe;
    border-radius: 5px;
  }
  .expander-text-active {
    max-height: 100em;
    border-color: $border-color;
    padding: 1.5em;
  }
}

@media screen and (min-width: 768px) {
  .flexed {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    flex: 1 0 auto;
  }
}
